body
   {
    font-family: Ubuntu, sans-serif;
   }
  	.navbar{
      position: relative;
    min-height: 50px;
    margin-bottom: -7px;
    border: 8px solid transparent;
    border-radius: 0px;
    }
      .menu{
        margin-top: 6%;
      }
      .navbar-nav {
    
    margin: -12px;
}
.j1{
  padding-top: 20px;
  margin-top: -12px;
  border-radius: 0px;
}
.r1
{
  
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Adobe Garamond";
    color: #fff;
    background-color: black;
    margin-top: -14px;
    padding: 10px;
}
.z1 p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.z1{
  background: rgba(28,28,28,0.8);
  border-radius: 0px;
}
.z1 .watermark
{

}